body{
    background-color: blanchedalmond;
}
.one{
    background-color: rgb(194, 221, 212);
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    font-family: "Lucida Console" monospace;
    margin-top: 0;
}
.list{
    background-color: rgba(141, 135, 37, 0.773);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Monaco', monospace;
    max-width: 1000px;
    list-style-position: inside;
}
.homer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}
/* below first subpage */
.picture{
    width: 500px;
    height: 400px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}
h1{
    background-color: beige;
    text-align: center;
    font-family: "Georgia" serif;
    font-weight: bold;
    font-size: 50px;
}
p,
li{

    text-align: justify;
    font-family: "Georgia" serif;
    background-color: rgb(158, 137, 178);
    padding: 8px;
    border: 3px solid azure;
    width: 700px;
    margin-right: 300px;
    margin-left: 70px;
    font-size: 18px;
}
h2{
    font-weight: bold;
    font-size: 30px;
    background-color: #b2ad7f;
    margin-left: 70px; 
}
/* second */
